@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
:root{
    --bgColor1: #e6e6e6;
    --mainHeadC: #3c97e8;
    --mainFontFam: 'Jost', sans-serif;
    --mainFontSize: 5rem;
    --subHeadSize: 2.85rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainsection{
    background-color: var(--bgColor1);
    font-family: var(--mainFontFam);
    height: 60.59rem;
}
.mainHead{
    font-size: var(--mainFontSize);
    color: var(--mainHeadC);
}
.subHead{
    margin-top: -1.0rem;
    font-size: var(--subHeadSize);
}
.subHeadHR{
    display: block;
    width: 25rem;
    height: 0.8rem;
    background-color: var(--mainHeadC);
    margin: 0.4rem 0 0 25rem;
}
.mainHeadContainer{
    margin: 0rem 0 0 25rem;
    padding-top: 20rem;
}