@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
:root{
    --bgColor1: #e6e6e6;
    --mainHeadC: #9bdf46;
    --subColor1: #3c97e8;
    --mainFontFam: 'Jost', sans-serif;
    --mainFontSize: 5rem;
    --subHeadSize: 2.85rem;
    --sideFontSize: 1.5rem;
    --leftMargin: 25rem;
    --subFontSize: 2.2rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainsection{
    background-color: var(--bgColor1);
    font-family: var(--mainFontFam);
    /* height: 160.59rem; */
}
.mainHead{
    font-size: var(--mainFontSize);
    color: var(--mainHeadC);
}
.subHead{
    margin-top: -1.0rem;
    font-size: var(--subHeadSize);
}
.subHeadHR{
    display: block;
    width: 25rem;
    height: 0.8rem;
    background-color: var(--mainHeadC);
    margin: 0.4rem 0 0 25rem;
}
.mainHeadContainer{
    margin: 0rem 0 0 25rem;
    padding-top: 20rem;
    /* background: url("./images/rightsideimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Right Image */

.rightImage{
    position: absolute;
    left: 60rem;
    top: 10rem;
    height: 30rem;
    width: 50rem;
    object-fit: cover;
}

/* Head Buttons */

.headBtns{
    display: flex;
    margin: 2rem 0 0 25rem;
}
/* Login Button */
.loginBtn {
    align-items: center;
    background-color: transparent;
    color: var(--subColor1);
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}
.loginBtn:before {
    background-color: var(--subColor1);
    content: "";
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
}
.loginBtn:hover:before {
    background-color: var(--subColor1);
    width: 3rem;
}
/* Get Started Button */
.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more {
    width: 12rem;
    height: auto;
}
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--subColor1);
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .circle {
    width: 100%;
}
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}

/* Side Navbar */

.navbarContainer{
    position: fixed;
    /* width: 20rem; */
    top: 0rem;
    height: 60.59rem;
    /* padding: 4.5rem 4.5rem 0 4.5rem; */
    background-color: var(--subColor1);
    /* width: 0; */
    z-index: 2;
}
.sideBar{
    margin: 5.5rem 3.5rem 3.5rem 3.5rem;
}
.sli{
    list-style: none;
    line-height: 5;
    font-size: var(--sideFontSize);
}
.ali{
    text-decoration: none;
    color: var(--bgColor1);
    transition: 0.2s all linear;
}
.sbIcon{
    position: relative;
    top: 0.3rem;
    color: var(--bgColor1);
    cursor: pointer;
}
.navMoreIcon{
    position: relative;
    top: 0.35rem;
}
/* .asd{
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 100%);
} */

/* Numbers Container */

.numbersContainer{
    /* position: relative; */
    padding-left: var(--leftMargin);
    margin-top: 15rem;
    padding-left: 30rem;
    background-color: var(--subColor1);
    color: var(--bgColor1);
    height: fit-content;
}
.numbers{
    display: flex;
    /* text-align: center; */
}
.num{
    font-size: var(--mainFontSize);
}
.num1{
    margin-left: 5rem;
}
.num2, .num3{
    margin-left: 15rem;
}
.subPContainer {
    display: flex;
    font-size: var(--subFontSize);
}
.p2, .p3{
    margin-left: 5.5rem;
}

/* services */

.servHR {
    position: relative;
    left: 62.8rem;
    /* transform: translate(-50%, 0); */
    width: 8.5rem;
    margin: 0.2rem 0 0 0;
    height: 0.3rem;
    border-color: var(--subColor1);
    border-radius: 0.5rem;
    background-color: var(--subColor1);
}
.servHead{
    /* text-align: center; */
    margin: 3rem 0 0 63rem;
    font-family: var(--mainFontFam);
    font-size: var(--subFontSize);
}

/* Cards */

.services{
    display: grid;
    grid-template-columns: 28rem 28rem 28rem;
    column-gap: 2rem;
    margin-left: var(--leftMargin);
    margin-top: 9rem;
}
.servCard {
    padding: 0 1.2rem;
    width: 25.875rem;
    height: 30.875rem;
    border-radius: 3.125rem;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
}
.cardHead{
    margin: 4rem 0 0 2rem;
    font-size: var(--subFontSize);
    font-family: var(--mainFontFam);
    text-decoration: underline;
    text-decoration-color: var(--mainHeadC);
    text-decoration-thickness: 0.6rem;
}
.cardPara{
    font-family: var(--mainFontFam);
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

/* Services Buttons */

.servBtn{
    cursor: pointer;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    margin: 3rem 0 0 2rem;
}
.servBtn:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid --subColor1;
    box-shadow: 4px 5px 17px -4px --subColor1;
}
.servBtn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--subColor1);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
.servBtn:hover::before {
    width: 250%;
}
.btn2{
    margin-left: 6.5rem;
}
.btn3 {
    margin-top: 5rem;
}
.btn4{
    margin-left: 5rem;
}
.btn5{
    margin-top: 0.9rem;
}
.btn6{
    margin-top: 0.7rem;
}

/* Time Line Start */

.timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
  }
  .timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 6px;
    align-self: center;
    width: 50vw;
    height: 20rem;
  }
  .timeline__event__date img {
    height: 20rem;
    width: 30rem;
    border-radius: 12px 0 0 12px;
    object-fit: cover;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 6px 0 0 6px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 20rem;
    background: var(--mainHeadC);
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--mainHeadC);
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    animation: fillLeft 2s forwards 4s ease-in-out;
  }
  .timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--subColor1);
    letter-spacing: 1.5px;
    margin-top: 0.2rem;
  }
  .timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
  }
  .timeline__event__date {
    /* background: var(--subColor1); */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0px 0.5rem 0.5rem 0px;
  }
  .timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainHeadC);
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: var(--mainHeadC);
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 40px;
    height: 40px;
    position: relative;
  }
  .timeline__event__icon i {
    font-size: 32px;
  }
  .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 20rem;
    background: var(--mainHeadC);
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--mainHeadC);
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    animation: fillLeftOdd 2s forwards 4s ease-in-out;
  }
  .timeline__event__description {
    flex-basis: 100%;
  }
  .timeline__event--type2:after {
    background: var(--subColor1);
  }
  .timeline__event--type2 .timeline__event__date {
    color: #87bbfe;
    background: var(--subColor1);
  }
  .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__icon {
    background: #87bbfe;
    color: #555ac0;
  }
  .timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__title {
    color: #555ac0;
  }
  .timeline__event--type3:after {
    background: #24b47e;
  }
  .timeline__event--type3 .timeline__event__date {
    color: #aff1b6;
    background-color: #24b47e;
  }
  .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
    background: #aff1b6;
  }
  .timeline__event--type3 .timeline__event__icon {
    background: #aff1b6;
    color: #24b47e;
  }
  .timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
    background: #aff1b6;
  }
  .timeline__event--type3 .timeline__event__title {
    color: #24b47e;
  }
  .timeline__event:last-child .timeline__event__icon:before {
    content: none;
  }
  @media (max-width: 786px) {
    .timeline__event {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event__content {
      width: 100%;
    }
    .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;
    }
    .timeline__event__icon:before, .timeline__event__icon:after {
      display: none;
    }
    .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event:nth-child(2n + 1) .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n + 1) .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      margin: 0;
    }
  }
  @keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @keyframes fillTop {
    100% {
      top: 100%;
    }
  }
  @keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }

.timeLineHead{
  margin: 5rem 0 0rem 62.9rem;
}
.timlineHR{
  width: 12rem;
  margin-bottom: 5rem;
}
.footerCOntainer{
  text-align: center;
}
.footer{
  margin-top: 5rem;
  color: #979797;
}
.fParaLink{
  color: #979797;
}


/* About Us */

.mainAbtContainer{
  font-family: var(--mainFontFam);
}
.abtHead {
  margin: 0 0 0 62.8rem;
  margin-top: 20rem;
  font-size: var(--subFontSize);
  font-family: var(--mainFontFam);
}

.mainPAraAbt{
  font-size: var(--sideFontSize);
  margin-left: var(--leftMargin);
  padding-right: 8rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-family: var(--mainFontFam);
}
.login{
  text-decoration: none;
}

/* Login Container */

.card {
  width: 41.875rem;
  height: 35.875rem;
  border-radius: 1.875rem;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
  margin: 20rem 0 0rem 40rem;
  font-family: var(--mainFontFam);
  text-align: center;
  padding: 2.2rem 4.2rem;
}
.loginCardHead{
  text-align: center;
  font-size: var(--subFontSize);
}
.loginHeadHR{
  width: 50%;
  margin: 2rem 0 2rem 10rem;
  height: 0.8rem;
  background-color: var(--subColor1);
  border-radius: 0.5rem;
}

/* Login Inputs */

.wave-group {
  position: relative;
  margin-top: 4rem;
}

.wave-group .input {
  font-size: 1.3rem;
  padding: 0.625rem 0.625rem 0.625rem 0.313rem;
  display: block;
  width: 22.5rem;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 1.425rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.313rem;
  top: 0.625rem;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 22.5rem;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}
.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

/* Login Buttons */

.cta {
  position: relative;
  margin: auto;
  padding: 0.75rem 1.125rem;
  transition: all 0.2s ease;
  border: none;
  background: none;
  margin-top: 4rem;
  cursor: pointer;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 3.125rem;
  background: #b1dae7;
  width: 2.813rem;
  height: 2.813rem;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 0.625rem;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.95);
}

/* FOrgot Pass */

button.frgtPass {
  font-size: 0.8rem;
  color: #000;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin-top: 2rem;
}

button.frgtPass:focus,
button.frgtPass:hover {
  color: #000;
}

button.frgtPass:focus:after,
button.frgtPass:hover:after {
  width: 100%;
  left: 0%;
}

button.frgtPass:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Sign Up Container */

.signUpHead{
  text-align: center;
  margin-top: 10rem;
  font-size: var(--subFontSize);
}
.signUpHR{
  width: 30%;
  height: 0.7rem;
  background-color: var(--subColor1);
  margin: 1.5rem 0 0 42rem;
}
/* Inputs */
.inputContainer{
  /* text-align: center; */
  margin-left: var(--leftMargin);
  margin-top: 10rem;
}

.input-container {
  position: relative;
}